:root {
    --light-primary: aquamarine;
    --primary: #03C988;
    --dark-primary: #26b082;

    --secondary: #046582;
    --dark-secondary: #185669;

    --text-color: #333;
    --negative-text-color: #ddd;
    
    --background-color: #fff;
    
    --error: #e7195a;
}