:root {
    --light-primary: #ffcd58;
    --primary: #ffa458;
    --dark-primary: #e6ac7d;

    --secondary: #046582;
    --dark-secondary: #185669;

    --text-color: #333;
    --negative-text-color: #ddd;
    
    --background-color: #fff;
    --negative-background-color: #333;
    
    --error: #e7195a;
}