.buttonUnderline {
    padding: 15px;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
}

.buttonUnderline p{
    transition: color 1s ease-in-out;
    margin: 0;
}

.buttonUnderline .underline{
    height: 3px;
    transition: width 1s ease-in-out;
}