.contact{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    color: var(--negative-text-color);
    background-size: cover;
    z-index: 155;
    transition: all 1s;
}

.contact .hideContact{
    cursor: pointer;
}

.container{
    overflow-y: auto;
}

.contact form{
    pointer-events: all;
}