.ContainerDetailsPurchase .details{
    position: relative;
    z-index: 101;
    color: green;

}

.ContainerDetailsPurchase .iconVisi{
    position: absolute;
    right: 20px;
    z-index: 101;
    border: solid ;
    border-radius: 5px;
    padding : 5px
}

.ContainerDetailsPurchase, .ContainerDetailsPurchase .DetailsPurchase{
    height: 100%;
    width: 100%;
}

.ContainerDetailsPurchase .DetailsPurchase{
    background-repeat: no-repeat;
    background-position: center;
    

}
