.ContainerDetailsPurchase .details{
    position: relative;
    z-index: 101;
    color: var(--primary);
    padding: 2%;

}

.ContainerDetailsPurchase .iconVisi{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 10%;
    border: solid ;
    border-radius: 10px;
    padding : 10px;
    color: var(--primary);  
}

.ContainerDetailsPurchase, .ContainerDetailsPurchase .DetailsPurchase{
    height: 100%;
    width: 100%;
}

.ContainerDetailsPurchase .DetailsPurchase{
    background-repeat: no-repeat;
    background-position: center;
    

}

.ContainerDetailsPurchase .Title{
    font-size: 2vw;
}

.ContainerDetailsPurchase .Answer{
    font-size: 3vw;
}

.ContainerDetailsPurchase .details{
    margin-left: 9%;
    width: 20%;
    height: 80%;
    backdrop-filter: blur(15px) opacity(0.9);
    border : 2.5px var(--primary) solid ;
    border-radius: 10px;
}

.ContainerDetailsPurchase .reference{
    position: absolute;
    bottom: 0;
    font-size: 1vw;
}

.ContainerDetailsPurchase .price{
    font-size: 2vw;
}

.ContainerDetailsPurchase .achat{
    display: flex;
}

.ContainerDetailsPurchase .buttonAchat{
    margin-right: 5%;
}

.ContainerDetailsPurchase .quantityStyle{
    width: 21%;
}

.ContainerDetailsPurchase .selectStyle{
    margin-top: 25%;
}

.ContainerDetailsPurchase .butonDownload{
    margin-top: 20%;
}

.ContainerDetailsPurchase .selectStyle, .ContainerDetailsPurchase .quantityStyle, .ContainerDetailsPurchase .buttonAchat, .ContainerDetailsPurchase .butonDownload{
    cursor: pointer;
    background: transparent;
    border : 2.5px var(--primary) solid ;
    font-size: 1vw;
    color: var(--primary);
    border-radius: 5px;
    padding: 3%;
}

.ContainerDetailsPurchase option :hover{
    background-color:  var(--primary);
}