form{
    width: 60%;
    margin: 0 auto;
}

label, input, select {
    display: block;
}

form input, form select, form textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Fira Mono";
    box-sizing: border-box;
}

form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Fira Mono";
    border-radius: 4px;
    cursor: pointer;
}

form button:disabled{
    cursor: default;
    opacity: 0.9;
}

form div.error {
    padding: 10px;
    background: #ffefef27;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}

form input.error, form select.error{
    border: 1px solid var(--error);
    background: #ffbaba;
}