.home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home .preview{
    flex-grow: 1;
    padding: 150px;
    display: flex;
    align-items: center;
    background-size: cover;
}

.home .preview h1{
    font-size: 3em;
}