.extendPreviews {
    position: relative;
}

.extendPreviewsCTN .detail-box {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    position: relative;
}

.extendPreviewsCTN .details {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
}

.extendPreviewsCTN .bottom {
    bottom: 0;
}

.extendPreviewsCTN .right {
    right: 0;
}

.extendPreviewsCTN h1 {
    font-size: large;
    margin: 0;
}

.extendPreviews .noMoreContent {
    text-align: center;
    padding: 10px;
    background-color: var(--dark-secondary);
    color: var(--negative-text-color);
}

.extendPreviewsCTN .pageTitle {
    height: 400px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extendPreviews .iconBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

/* publish */
.publishWallpaper{
    height: 100%;
}

.publishWallpaper .previewContainer{
    margin-top: 50px;
}