.extendPreviews {
    position: relative;
}

.extendPreviewsCTN .detail-box {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 20;
}

.extendPreviewsCTN .details {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
}

.extendPreviewsCTN .bottom {
    bottom: 0;
}

.extendPreviewsCTN .right {
    right: 0;
}

.extendPreviewsCTN h1 {
    font-size: large;
    margin: 0;
}

.extendPreviews .noMoreContent {
    text-align: center;
    padding: 10px;
    background-color: var(--dark-secondary);
    color: var(--negative-text-color);
}

.extendPreviewsCTN .pageTitleContainer {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.extendPreviewsCTN .pageTitle {
    font-size: 50px;
}

.extendPreviews .iconBox{
    width: 100%;
    transition: all 1s;
    overflow: hidden;
}

.extendPreviews .flexIconBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.extendPreviews .liked{
    color: red;
}


/* publish */
.publishWallpaper, .editWallpaper{
    min-height: 100%;
}

.publishWallpaper .previewContainer, .editWallpaper .previewContainer{
    margin-top: 50px;
}

.wallpaperForm{
    padding-bottom: 20px;
}