.pages{
    background: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}


img{
    width: 100%;
}
.cardContainer {
    background-color: transparent;
    width: 32%;
    height: 32%;
    perspective: 1000px;
    margin: 1.5% 2.5% 1.5% 2.5%;
    display: inline-block;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flipImg, .flipContenu {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.flipImg{
    position: absolute;
}

.Content{
    text-align: center  ;
}


.flipContenu {
    background: grey;
    opacity: 60%;
    color: black;
    width: 100%;
    height: 100%    ;
    transform: rotateX(-180deg);
    text-align: initial;
}

.flipCard{
    transform: rotateX(-180deg);
}

.Title, h1{
    font-size: 3vw;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.TitleCard{
    text-align: center;
    padding-top: 0.5%;
}

.reference{
    font-size: small;
}

.referenceContainer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
}

.iconBox2{
    position: absolute;
    top: 0;
    margin-top: 1%;
}

.particules{
}