@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-----------*/
/* MAIN CSS */
/*---------*/

/* Color */

/* Primary */
/* Background */
.primaryColor{
  background-color: var(--primary);
}
.lightPrimaryColor{
  background-color: var(--light-primary);
}
.darkPrimaryColor{
  background-color: var(--dark-primary);
}
/* Font */
.primaryFont{
  color: var(--primary);
}
.lightPrimaryFont{
  color: var(--light-primary);
}
.darkPrimaryFont{
  color: var(--dark-primary);
}

/* Secondary */
/* Background */
.secondaryColor{
  background-color: var(--secondary);
}
.darkSecondaryColor{
  background-color: var(--dark-secondary);
}
/* Font */
.secondaryFont{
  color: var(--secondary);
}
.darkSecondaryFont{
  color: var(--dark-secondary);
}

/* Default Font Color */
.defaultFontColor {
  color: var(--text-color);
}

.negativeDefaultFontColor {
  color: var(--negative-text-color);
}

/* Animation state */
.showByRight {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.showByRightBefore {
  filter: blur(5px);
  transform: translateX(-100%);
  opacity: 0;
}

.showByLeft {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.showByLeftBefore {
  filter: blur(5px);
  transform: translateX(100%);
  opacity: 0;
}

/* layout */
html, body, #root, .app {
  /* pour tester la bar nav */
  height:100%;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Mono';
}
body {
  background: var(--background-color);
  margin: 0;
  font-family: "Poppins";
}
.cancelLinkCss {
  text-decoration: none;
}
.material-symbols-outlined.iconFilled{
  font-variation-settings: 'FILL' 1
}
/* Pages */
.pages{
  flex-grow: 1;
  margin: 0 0;
}

.pageTitle {
  height: 400px;
  background-color: var(--dark-secondary);
  color: var(--negative-text-color);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer{
  padding: 10px;
  font-size: x-small;
  
  position: fixed;
  bottom: 40%;
  right: 0;
  
  transform-origin: 100% 50%;
  transform: rotate(90deg) translate(50%, 50%);
}


/* NavBar */
.navbar ul, .navbar p{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navbar{
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}

.navbar .liens{
  display: flex;
  align-items: center;

}

.navbar .liens ul{
  display: flex;
}

.navbar .liens ul li{
  margin : 0 25px;
}

.navbar .containerIcon .icon{
  margin: 0;
  cursor: pointer;
}

.navbar .containerIcon{
  display: flex;
  align-items: center;
}

.navbar a{
  color: var(--text-color);
}

.navbar .logoContainer{
  width: 50px;
  margin: 5px 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 3%;
  position: relative;
}

.navbar .logoPicture{
  width: 100%;
  height: auto;
  transform: rotate(0);
}

.navbar .fixedLogo {
  position: absolute;
  pointer-events: none;
}

.navbar .logoPicture:hover {
  transform: rotate(720deg);
}

.navbar .show {
  transform: translateX(0);
}

.navbar .hide {
  transform: translateX(-101%);
}

.navbar .logoTextContainer {
  min-width: fit-content;
  overflow: hidden;
}

.navbar .logoText {
  width: fit-content;
  padding-left: 5px;
}