@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-----------*/
/* MAIN CSS */
/*---------*/

/* Color */

/* Primary */
/* Background */
.primaryColor{
  background-color: var(--primary);
}
.lightPrimaryColor{
  background-color: var(--light-primary);
}
.darkPrimaryColor{
  background-color: var(--dark-primary);
}
/* Font */
.primaryFont{
  color: var(--primary);
}
.lightPrimaryFont{
  color: var(--light-primary);
}
.darkPrimaryFont{
  color: var(--dark-primary);
}

/* Secondary */
/* Background */
.secondaryColor{
  background-color: var(--secondary);
}
.darkSecondaryColor{
  background-color: var(--dark-secondary);
}
/* Font */
.secondaryFont{
  color: var(--secondary);
}
.darkSecondaryFont{
  color: var(--dark-secondary);
}

/* Default Font Color */
.defaultFontColor {
  color: var(--text-color);
}

/* layout */
html, body, #root, .app {
  /* pour tester la bar nav */
  height:100%;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Mono';
}
body {
  background: var(--background-color);
  margin: 0;
  font-family: "Poppins";
}
.cancelLinkCss {
  text-decoration: none;
  color: none;
}

/* Pages */
.pages{
  flex-grow: 1;
  margin: 0 0;
}

/* Footer */
footer{
  padding: 20px;
  text-align: center;
}


/* NavBar */
#navbar ul, #navbar a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}

#navbar .liens{
  display: flex;
  align-items: center;
}

#navbar .liens ul{
  display: flex;
}

#navbar .liens ul li{
  margin : 0 25px;
}

#navbar .containerIcon .icon{
  margin: 0 25px;

}

#navbar .containerIcon{
  display: flex;
  align-items: center;
}

#navbar a{
  color: var(--text-color);
  text-decoration: none;
}

#navbar .logo{
  width: 4.5%;
  height: auto;
  margin-left: 3%;
}

